<div id="toast"></div>
<div class="box-content green-box boxed" style="margin-top: 30px;">
  <form class="ui form" id="user-cyb-form" name="user-cyb">
    <h4 class="ui dividing header">Informazioni safe</h4>
    <div class="field">
      <div class="five fields">
        <div class="field">
          <input type="text" name="nome_safe" placeholder="Safe">
        </div>
        <div class="field">
          <input type="text" name="nome_utente" placeholder="Nome">
        </div>
        <div class="field">
          <input type="text" name="cognome_utente" placeholder="Cognome">
        </div>
        <div class="field">
          <input type="text" name="azienda_utente" placeholder="Azienda">
        </div>
        <div class="field">
          <input type="text" name="ticket" placeholder="Ticket">
        </div>
      </div>
    </div>
    <button class="ui primary button" tabindex="0" type="submit">Submit</button>
  </form>
</div>

<script src='../../js/new-cyb-user.js'></script>
