<div id="toast"></div>
<div class="box-content green-box boxed" style="margin-top: 30px;">
  <form class="ui form" id="server-cyb-form" name="server-cyb">
    <h4 class="ui dividing header">Informazioni safe</h4>
    <div class="field">
      <div class="two fields">
        <div class="field">
          <input type="text" name="nome_safe" placeholder="Safe">
        </div>
        <div class="field">
          <input type="text" name="nome_server" minlength="7" maxlength="15" placeholder="IP Server">
        </div>
      </div>
    </div>
    <div class="field">
      <div class="two fields">
        <div class="field">
          <input type="text" name="nome_utenza" placeholder="Nome utenza">
        </div>
        <div class="field">
          <input type="text" name="ticket" placeholder="Ticket riferimento">
        </div>
      </div>
    </div>
    <button class="ui primary button" tabindex="0" type="submit">Submit</button>
  </form>
</div>

<script src='../../js/new-cyb-as.js'></script>
