<div id="toast"></div>
<div class="box-content green-box boxed" style="margin-top: 30px;">
  <form class="ui form" id="server-form" name="server">
    <h4 class="ui dividing header">Informazioni utenza</h4>
    <div class="field">
      <label>Contatto richiedente</label>
      <div class="two fields">
        <div class="field">
          <input type="text" name="nome_richiedente" placeholder="Nome">
        </div>
        <div class="field">
          <input type="text" name="cognome_richiedente" placeholder="Cognome">
        </div>
        <div class="field">
          <input type="text" name="azienda_richiedente" placeholder="Azienda">
        </div>
      </div>
    </div>
    <div class="field">
      <label>Contatto utente</label>
      <div class="three fields">
        <div class="field">
          <input type="text" name="nome_utente" placeholder="Nome">
        </div>
        <div class="field">
          <input type="text" name="cognome_utente" placeholder="Cognome">
        </div>
        <div class="field">
          <input type="text" name="azienda_utente" placeholder="Azienda">
        </div>
      </div>
    </div>
    <h4 class="ui dividing header">Informazioni server</h4>
    <div class="field">
      <div class="three fields">
        <div class="field">
          <label>Indirizzo Server</label>
          <input type="text" name="ip_server" minlength="7" maxlength="15" placeholder="IP">
        </div>
        <div class="field">
          <label>Privilegi</label>
          <input type="text" name="privilegi" placeholder="Privilegi/ticket">
        </div>
        <div class="field">
          <label>Scadenza</label>
          <input type="date" name="scadenza" placeholder="Scadenza" >
        </div>
      </div>
    </div>
    <button class="ui primary button" tabindex="0" type="submit">Submit</button>
  </form>
</div>

<script src='../js/new-server.js'></script>
